.user-profile-info-cont {
  width: 100%;
  display: flex;
  column-gap: 3.5rem;
  align-items: center;
}

.user-profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .user-profile-pic {
    display: none;
  }
}

.about-user {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

@media (max-width: 768px) {
  .about-user {
    padding-left: 0.5rem;
  }
}

.user-name {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  color: #262626;
}

@media (max-width: 500px) {
  .user-name {
    font-size: 16px;
  }
}

.user-profile-stats-cont {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

@media (max-width: 450px) {
  .user-profile-stats-cont {
    column-gap: 1rem;
  }
}

.user-stats-heading {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #262626;
}

.user-post-count {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

@media (max-width: 768px) {
  .user-post-count {
    flex-direction: column;
    row-gap: 0.5px;
    align-items: center;
  }
}

.user-post-count-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #262626;
}

.user-id {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #262626;
}

.user-bio-info {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #262626;
}

/*  */

.user-profile-pic-mobile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .user-profile-pic-mobile {
    width: 96px;
    height: 96px;
  }
}

@media (min-width: 768px) {
  .user-profile-pic-mobile {
    display: none;
  }
}

.about-user-cont {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
